form{
    text-align:center;
    width: 300px;
    background-color:#e6f2ff;
    border: 1px solid #000066;
}
body {
    background-color: #F0F8FF;
}
p {
    margin: 5px 10px;
}
table {
    margin: 3px;
    border: solid black 1px;
}
td, th {
    padding: 4px;
    border: solid black 1px;
}
button {
    margin: 5px;
}
.dates{
    writing-mode: vertical-rl;
}