form{
    text-align:center;
    width: 300px;
    background-color:#e6f2ff;
    border: 1px solid #000066;
}
body {
    background-image:url(/Gradebook/images/blackboard.jpg);

}
p {
    margin: 5px 10px;
}
table {
    margin: 3px;
    border: solid black 1px;
}
td, th {
    padding: 4px;
    border: solid black 1px;
}
button {
    margin: 5px;
}
.dates{
    writing-mode: vertical-rl;
}
header li{
    display: inline;
    float: left;
}
header li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 14px 16px 5px;
    margin-bottom: 14px;
}
header li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 1px;
    width: 0;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
header li a:hover::after{
    width: 100%;
    left: 0;
}
header li a:hover{
    text-decoration: none;
    color: white;
}
.logout{
    float: right;
}
header ul{
    padding-bottom: 14px;
}
footer{
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}
.clear{
    clear: both;
    height: 52px;
}
.warning{
    color: red;
}
.search-slim {
    width: 50px;
}
.search {
    width: 150px;
}
.box {
    background-color: #F0F8FF;
    width: 80%;
    padding: 10px;
}
.push {
    padding: 5px;
}
.push a {
    position: relative;
    padding: 20px 0 20px 40px;
    cursor: pointer;
    display: list-item;
    list-style: none;
    color: #23527c;
    font-weight: bold;
}
.push a:before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4F5151;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 27px;
}
.push a:after {
    position: absolute;
    border-left: 1px dotted #4F5151;
    width: 1px;
    bottom: -12px;
    content: "";
    left: 3px;
    top: 48px;
}
.push a:hover:before{box-shadow: 0 0 0 10px rgba(0,0,0,.2)}
.push a:last-child:after {content: none;}
.push a:hover {
    text-decoration: none;
}
.menu {
    width: 300px;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}
.school {
    width: 500px;
    padding: 10px;
}
.school-div {
    padding: 10px;
}
td a {
    color: #23527c;
    font-weight: bold;
}
td, tr {
    font-size: 16px;
}
.search-middle {
    width: 120px;
}
@media screen and (min-width: 992px) {
    .box-index{
        display: flex;
    }
    .menu {
        flex-grow: 1;
    }
    .school-div {
        flex-grow: 2;
    }
    td, tr, .menu {
        font-size: 14px;
    }
}
@media screen and (min-width: 1200px) {
    .school {
        width: 700px;
    }
    .search, .search-middle {
        width: 200px;
    }
}
.user-img {
    width: 250px;
}
.user-div {
    margin: 10px;
}
.user-data {
    margin: 10px;
}
h2 {
    text-align: center;
}
.username {
    text-transform: none;
}